.sidebar-nav {
    margin-top: 20px;
    margin-left: 20px;
    padding: 1px;
    list-style: none;
  }

  #logout-form {
    display: inline;
  }
  
  #logout-form button {
    padding: 0;
    margin: 0;
  }

.black-background {
  background-color: #0D1117;
  color: white;
}

input, textarea, select {
  margin: 5px;
  border: 5px #161B22;
  border-radius: 5px;
  background-color: #161B22;
  color: white;
}
    