{% extends "base_generic.html" %} {% block content %}
<h1>Borrowed books</h1>
{% if perms.catalog.can_mark_returned %} {% if bookinstance_list %}
<div class="list-group" data-bs-theme="dark">
  {% for bookinst in bookinstance_list %}
  <a
    href="{% url 'renew-book-librarian' bookinst.id %}"
    class="list-group-item list-group-item-action {% if bookinst.is_overdue %}text-danger{% endif %}"
    >Renew: {{ bookinst.book.title }} - {{ bookinst.borrower }}</a
  >
  {% endfor %}
</div>

{% else %}
<p>There are no books borrowed.</p>
{% endif %} {% endif %} {% endblock %}
